@page
@model Pizza_dotnet.Pages.MenuModel
@{
}

<section class="home-slider owl-carousel img" style="background-image: url(images/bg_1.jpg);">

    <div class="slider-item" style="background-image: url(images/bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">

                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">Our Menu</h1>
                    <p class="breadcrumbs">
                        <span class="mr-2">
                            <a asp-area ="" asp-page="/Index">Home</a>
                        </span> 
                        <span>Menu</span>
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
        <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="mb-4">Our Menu Pricing</h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
            <p class="mt-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
    </div>
    <div class="row mb-5 pb-3">
                @foreach (var pizza in Model.Pizzas)
        {
            <div class="col-md-6">
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" style="background-image: url(images/pizza-1.jpg);"></div>
                    <div class="desc pl-3">
                        <div class="d-flex text align-items-center">
                            <h3><span>@pizza.Name</span></h3>
                            <span class="price">@pizza.Price</span>
                        </div>
                        <div class="d-block">
                            <p>@pizza.Description</p>
                            <p class="text-right">
                                <button type="button"
                                        class="btn btn-white btn-outline-white"
                                        data-toggle="modal"
                                        data-target="#order-@pizza.Id">
                                        Order
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="order-@pizza.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-dark" id="exampleModalLongTitle">@pizza.Name</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post"
                              id="form-@pizza.Id"
                              asp-page-handler="Edit"
                              class="mx-auto mt-5 mb-5 px-5 pt-5 pb-5 rounded-5 bg-light">
                                <input hidden asp-for="Pizza.Id" value="@pizza.Id" />
                                <input type="text" asp-for="PizzaName" />
                                <input type="number" asp-for="Quantity" />
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" form="form-@pizza.Id" class="btn btn-primary">Order</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>