@page
@model Pizza_dotnet.Pages.OrdersModel
@{
}

<div class="container text-center">
    <h3>Our Orders</h3>
    <div class="row">
        @foreach (var order in Model.Orders)
        {
            <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="info text-center">
                        <h3>Order Id: @order.Id</h3>
                        <div class="text">
                            <p>Full Name: @order.CustomerName</p>
                            <p>Address: @order.CustomerAddress</p>
                            <p>Phone number: @order.CustomerPhone</p>
                            <p>Order Time: @order.Timestamp</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

